<!--<script src="post.component.ts"></script>-->
<app-header></app-header>
<div class="row mt-5">
    <div class="col-12 col-md-4 mt-3" *ngFor="let post of posts">
        <mat-card (click)="openDialog(post)" matRipple class="pointer" style="cursor: pointer; height: 100%;">
            <div class="text-center">
                <p class="fw-bold fs-5">{{ post.title }}</p>
            </div>
            <hr>
            <div>
                <p>{{ post.body }}</p>
            </div>
        </mat-card>
    </div>
</div>
