<app-header></app-header>
<div class="container">
  <button mat-raised-button (click)="onPostCard()">Click here to see all post</button>
  <div class="row mt-5">
    <div class="col-12 col-sm-4 col-md-4 col-lg-4 col-xl-4 mt-3" *ngFor="let posts of post">
      <mat-card (click)="openDialog()"  matRipple class="pointer" style="cursor: pointer">
        <ul>
          <li>{{posts.id}}</li>
          <li>{{posts.title}}</li>
          <li>{{posts.body}}</li>
        </ul>
      </mat-card>
    </div>
  </div>
</div>




