<app-header></app-header>
<div class="container">
  <div class="row mt-5">
    <div class="col-12 col-sm-6 col-md-6 col-lg-6 col-xl-6">
      <mat-card>Sample</mat-card>
    </div>
    <div class="col-12 col-sm-6 col-md-6 col-lg-6 col-xl-6">
      <mat-card>
        <div class="text-center mb-3">
          <p class="h3 text-danger font-weight-bold">To-Do List</p>
        </div>
        <div class="row">
          <div  class="col-12 col-sm-6 col-md-6 col-lg-6 col-xl-6 text-center">
            <button class="btn btn-primary" (click)="onPressComplete()">Completed </button>
            <div class="mt-4" id="complete" *ngIf="display1">
              <app-completed></app-completed>
            </div>
          </div>
          <div  class="col-12 col-sm-6 col-md-6 col-lg-6 col-xl-6 text-center">
            <button class="btn btn-primary" (click)="onPressIncomplete()">Incompleted </button>
            <div class="mt-4" id="incomplete" *ngIf="display2">
              <app-incompleted></app-incompleted>
            </div>
          </div>

        </div>

      </mat-card>
    </div>
  </div>
</div>

